@charset "utf-8";
body{
	margin:0;
	padding:0;
	border:0;
	font-family:"Microsoft YaHei";
}
.center{
	text-align:center;
	}
#head{
	width:100%;
	font-size:40px;
	text-align:center;
	padding:10px 0;
	color:#ff9a9e;
	background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.in-head{
	width:320px;
	margin-left:75%;
	margin-top:-30px;
}
#sj{
	position:absolute;
	padding:10px;
	padding-left:5%;
}
#one ul{
	list-style-type:none;
	margin:8px;
	height:35px;
	padding-left:15%;	
}
#one li{
	float:left;
}
#one a{
	text-decoration:none;
	display:block;
	color:black;
	width:100px;
	height:35px;
	padding-top:10px;
}
#one .on,a:hover{
	background-color:#eef1f5;
}
#first{
	width:100%;
	height:310px;
	background-color:#f0f7ff;
}
#name{
	display:block;
	margin-left:50%;
	margin-top:10px;
}
#jieshao{
	font-size:25px;
	font-weight:bold;
	width:100%;
	padding-top:20px;
	color:#46aef7;
}
#in-jieshao{
	color:#46aef7;
	width:100%;
	padding-top:8px;
}
span{
	font-size:16px;
	margin-top:5px;
}
#main{
	width:100%;
	height:520px;
}
#main span{
	position:absolute;
	display:block;
	text-align:center;
	margin-left:80px;
	width:50px;
	height:190px;
	background-color:#0CF;
	font-size:35px;
}
a{
	text-decoration:none;
}
#box{
	width:48%; 
	height:150px; 
	margin:auto;
	margin-top:-20px;
	box-shadow:0 0 20px #000 inset; 
	transition:0.2s;
}
#box p{
	padding-top:20px;
	text-align:center; 
	font-size:72px; 
	color:#ff9a9e;
}
#box:hover{
	background-color:#000; 
	opacity: 0.7;
}
#box a:hover p{
	color:#fff;
}
#main-box{
	width:70%; 
	margin:20px auto; 
	transition:0.2s;
}
#limit{
	width:100%;
	overflow:hidden;
}
#site{
	width:24%; 
	height:113px; 
	float:left;
	margin:5px 0.5% 5px 0.5%; 
	box-shadow:0 0 20px #000 inset;
	transition:1s;
}
#site:hover{
	background-color:#000;
	opacity: 0.7;
}
#site p{
	padding-top:10px;
	text-align:center; 
	font-size:30px; 
	color:#ff9a9e;
}
#site a:hover p{
	color:#fff;
}
#way{
	margin-top:30px;
}
#huadong {
	position:fixed;
	bottom:100px;
	right:0;
	background-color:#fff1eb;
	width:32px;
	padding:15px;
	border:1px solid #000;
}
#aboutme{
     width:100%;
	 height:320px;
 }
#aboutme ul{
     list-style:none; 
	 display:block; 
	 height:30px; 
 }
#aboutme ul li{
    outline:none;
	border:none;
	width:400px;
	height:80px;
	font-size:20px;
	font-weight:bold;
	text-indent:150px;
	color:#ff9a9e;
	background:transparent;
	border-right:2px #8baaaa solid;
}
#aboutme ul li.on{
	background:#f0f7ff;
}
#aboutme div{
     height:300px; 
	 width:65%;
	 margin-top:-50px;
	 margin-left:450px;
	 line-height:25px;
	 padding-left:35px;
}
#exp{
	padding-top:50px;
}
#hobby{
	padding-top:150px;
}
.hide{display:none;}>/* CSS Document */

